@import url('https://fonts.googleapis.com/css2?family=Roboto Condensed');

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/wye3cd5ej4b.png);
    background-repeat: no-repeat;
    max-width: 1277px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container {
    display: grid;

    grid-template-rows:
        minmax(150px, 250px)
        minmax(auto, 75px)
        minmax(300px, 710px)
        minmax(200px, 392px);

    grid-template-areas:
    "one one one"
    "two five six"
    "three three three"
    "four four four";

    grid-template-columns:
        minmax(120px, 241px)
        minmax(300px, 794px)
        minmax(120px, 243px);
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "one"
            "two"
            "five"
            "six"
            "three"
            "four";
    }
}

.container > * {
    border: 2px dashed blue;
}

.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;

    display: flex;
}
.box6 {
    grid-area: six;
}

ul  {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;

    color: #393939;

    width: 100%;
    height: 100%;
    align-items: center;
}

.spec-project {
    flex-basis: 183px;
    padding-left: 67px;
}

.call-center {
    flex-basis: 97px;
}

.useful {
    flex-basis: 88px;
}

.history {
    flex-basis: 20px;
}

.news-btn {
    background-color: green;
    border: none;

    width: 232px;
    height: 35px;

    border-radius: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-items: center;

    margin-left: 69px;
    align-self: center;
}

.news-btn svg {
    width: 18px;
    height: 18px;
    fill: white;
}


.news-btn:hover {
    background-color: #b7d3a9;
}